.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.App-header {  
  font-size: xx-large;
}

.football-tables {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
